{% extends "base.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block article %}
    <article>
        <header>
            <h3>Change Password</h3>
        </header>
        <form method="POST">
            <ul>
                <li>
                    <section>
                        <div>
                            <p>{{ form.current_password.label }}</p>
                                {% if form.current_password.errors %}
                                    {% for error in form.current_password.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                            <p>{{ form.current_password }}</p>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div>
                            <p>{{ form.new_password.label }}</p>
                                {% if form.new_password.errors %}
                                    {% for error in form.new_password.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                            <p>{{ form.new_password }}</p>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div>
                            <p>{{ form.confirm_password.label }}</p>
                                {% if form.confirm_password.errors %}
                                    {% for error in form.confirm_password.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                            <p>{{ form.confirm_password }}</p>
                        </div>
                    </section>
                </li>
            </ul>

            <button type="submit" class="btn btn-warning">Change password</button>
        </form>
    </article>
{% endblock %}

{% block aside %}

{% endblock %}