{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block header %}
    <div class="header-container">
        <header class="wrapper clearfix">
            {% if user_id %}<a href="{{ url_for('users.home', user_id=user_id) }}"><h1 class="title">Network Marketing</h1></a>
            {% else %}<a href="{{ url_for('index') }}"><h1 class="title">Network Marketing</h1></a>
            {% endif %}
            <nav>
                <ul>
                    {% if loged_in %}<li><a href="{{ url_for('auth.login') }}">Log in</a></li>{% endif %}
                    {% if loged_in %}<li><a href="{{ url_for('auth.register') }}">Register</a></li>{% endif %}
                    <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="flash">
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}

{% block article %}
    <article>
        <header>
            <h1>Hello {{ name }}</h1>
        </header>
        <div class="container">
            <a href="{{ url_for('messages.new_post_pv') }}"><button class="btn btn-success">New message</button></a>
            <br>
        </div>
        <div class="container">
            <br>
            <a href="{{ url_for('users.change_password', user_id=user_id) }}"><button class="btn btn-success">Change password</button></a>
            <br>
        </div>
        <div class="container">
            <br>
            <a href="{{ url_for('posts.view_sent_posts', user_id=user_id) }}"><button class="btn btn-success">View sent posts</button></a>
            <br>
        </div>
        <div class="container">
            <br>
            <a href="{{ url_for('posts.new_post', user_id=user_id) }}"><button class="btn btn-success">New post</button></a>
            <br>
        </div>
        <div class="container">
            <br>
            <a href="{{ url_for('messages.inbox', user_id=user_id) }}"><button class="btn btn-success">Inbox</button></a>
            <br>
        </div>
        <div class="container">
            <br>
            <a href="{{ url_for('messages.outbox', user_id=user_id) }}"><button class="btn btn-success">Outbox</button></a>
            <br>
        </div>
        <div class="container">
            <br>
            <a href="{{ url_for('posts.view_public_posts') }}"><button class="btn btn-success">View public posts</button></a>
            <br>
        </div>
        <div class="container">
            <br>
            <a href="{{ url_for('posts.posts_from_subsets', user_id=user_id) }}"><button class="btn btn-success">Posts from subsets</button></a>
            <br>
        </div>
        <div class="container">
            <br>
            <a href="{{ url_for('posts.posts_from_uplines', user_id=user_id) }}"><button class="btn btn-success">Posts from uplines</button></a>
            <br>
        </div>
        <div class="container">
            <br>
            <a href="{{ url_for('posts.posts_for_directs', user_id=user_id) }}"><button class="btn btn-success">Posts for directs</button></a>
            <br>
        </div>
    </article>
{% endblock %}

{% block aside %}
    <aside>
        <br>
        <a href="{{ url_for('users.view_uplines', user_id=user_id) }}"><button class="btn btn-default">Uplines</button></a>
        <br>
        <br>
        <a href="{{ url_for('users.view_subsets', user_id=user_id) }}"><button class="btn btn-default">Subsets</button></a>
    </aside>
{% endblock %}

{% block footer %}
    <footer class="wrapper">
        <section>
            <form action="" method="POST">
                <div>
                    <label for="search"> Search
                        <br>
                        <span>
                            <input type="text" style="color: #0f0f0f" name="search" id="search" value="{{ request.form.search }}" placeholder="Emails, Names">
                            <button class="btn btn-default" type="submit">Search</button>
                        </span>
                    </label>
                </div>
            </form>
        </section>
        <br>
        <br>
        <br>
        <br>
    </footer>
{% endblock %}