{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block article %}
    <article>
        <header>
            <h1>Log in</h1>
        </header>
        <section>
            <h3>Enter your phone number and password to Log in.</h3>
            <p>Don't have yet!</p>
            <p>Click<a href="{{ url_for('users.register') }}"> here </a>to join your group.</p>
        </section>
    </article>
{% endblock %}

{% block aside %}
    <aside>
        <h2>Log in</h2>
        <form method="POST" action="">
            <h4>{{ form.phone_number.label  }}</h4>
                {% if form.phone_number.errors %}
                    {% for error in form.phone_number.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.phone_number }}
            <hr>
            <h4>{{ form.password.label  }}</h4>
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.password }}
            <hr>

            {{ form.submit }}

        </form>
    </aside>
{% endblock %}
