{% extends "base.html" %}

{% block title %}
    Profile
{% endblock %}

{% block header %}
    <div class="header-container">
        <header class="wrapper clearfix">
            <h1 class="title">Network Marketing</h1>
            <nav>
                <ul>
                    {% if loged_in %}<li><a href="{{ url_for('users.login') }}">Log in</a></li>{% endif %}
                    {% if loged_in %}<li><a href="{{ url_for('users.register') }}">Register</a></li>{% endif %}
                </ul>
            </nav>
        </header>
    </div>
    <div class="flash">
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}

{% block article %}
    <article>
        <header>
            <h3>Profile Info</h3>
        </header>
        <section>
            <form method="POST">
                <ul>
                    <li>
                        <div>
                           <p>{% if form.name.data is not none %}{{ form.name.data }}{% endif %}</p>
                            <p>{{ form.name.label }}</p>
                            <p>{{ form.name }}</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>{% if form.family_name.data %}{{ form.family_name.data }}{% endif %}</p>
                            <p>{{ form.family_name.label }}</p>
                            <p>{{ form.family_name }}</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>{% if form.email.data %}{{ form.email.data }}{% endif %}</p>
                            <p>{{ form.email.label }}</p>
                            <p>{{ form.email }}</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>{{ form.company.label }}</p>
                            <p>{{ form.company }}</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>{{ form.gender.label }}</p>
                            <p>{{ form.gender }}</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>{% if form.birthday_day.data %}{{ form.birthday_day.data }}{% endif %}</p>
                            <p>{{ form.birthday_day.label }}</p>
                            <p>{{ form.birthday_day(onclick="PersianDatePicker.Show(this, '1370/03/22')") }}</p>
                        </div>
                    </li>

                </ul>

                <button type="submit" class="btn btn-success">Register</button>

            </form>
        </section>
    </article>
{% endblock %}

{% block aside %}

{% endblock %}