{% extends "user/home.html" %}

{% block title %}
    Subsets
{% endblock %}

{% block article %}
    <article>
        {% if sub %}
            {% if sub|length > 0 %}
                <div class="container">
                    <h4>Your uplines are:</h4>
                </div>
                <div class="container">
                    {% for user in sub %}
                        <p>
                            Name: {{ user["name"] }}
                            <br>
                            Family: {{ user["family"] }}
                            <br>
                            Phone number: {{ user["phone_number"] }}
                            <br>
                            Upline phone number: {{ user["upline_phone_number"] }}

                        </p>
                        <hr>
                    {% endfor %}
                </div>
            {% else %}
                <div class="container">
                    <p>You are <strong>HEAD MASTER</strong></p>
                    <p>Your level is {{ count }}</p>
                </div>
            {% endif %}
        {% else %}
            <div class="container">
                <p>You have not <strong>ANY SUBSETS</strong></p>
                <p>{{ count }} your subsets</p>
            </div>
        {% endif %}
    </article>
{% endblock %}

{% block aside %}
    <aside>
        <div>
            <p>{{ count }} your subsets</p>
        </div>
    </aside>
{% endblock %}