{% extends "user/home.html" %}

{% block title %}
    Subsets
{% endblock %}

{% block article %}
    <article>
        {% if sub %}
            {% if sub|length > 0 %}
                <div class="container">
                    <h4>Your uplines are:</h4>
                    <h4>{{ count }} your subsets</h4>
                </div>
                <div class="container">
                    <!-- TODO Make a property for User Node to save last login -->
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Family</th>
                                <th>Phone Number</th>
                                <th>Upline Phone Number</th>
                                <th>Last Login</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in sub %}
                                <tr>
                                    <td>{{ user["name"] }}</td>
                                    <td>{{ user["family"] }}</td>
                                    <td><a href="{{ url_for('users.view_profile', user_id=user["_id"]) }}">{{ user["phone_number"] }}</a></td>
                                    <td>{{ user["upline_phone_number"] }}</td>
                                    <td class="warning">Not set yet!</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="container">
                    <p>You are <strong>HEAD MASTER</strong></p>
                    <p>Your level is {{ count }}</p>
                </div>
            {% endif %}
        {% else %}
            <div class="container">
                <p>You have not <strong>ANY SUBSETS</strong></p>
                <p>{{ count }} your subsets</p>
            </div>
        {% endif %}
    </article>
{% endblock %}

{% block aside %}

{% endblock %}