{% extends "base.html" %}

{% block title %}
    Admin panel
{% endblock %}

{% block header %}
    <div class="header-container">
        <header class="wrapper clearfix">
            {% if user_id %}<a href="{{ url_for('users.home', user_id=user_id) }}"><h1 class="title">Network Marketing</h1></a>
            {% else %}<a href="{{ url_for('index') }}"><h1 class="title">Network Marketing</h1></a>
            {% endif %}
            <nav>
                <ul>
                    {% if loged_in %}<li><a href="{{ url_for('auth.login') }}">Log in</a></li>{% endif %}
                    {% if loged_in %}<li><a href="{{ url_for('auth.register') }}">Register</a></li>{% endif %}
                    <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="flash">
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}



{% block article %}
    <article>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="{{ url_for('admins.admin_home', admin_id=admin_id) }}">Home</a></li>
            <li role="presentation"><a href="{{ url_for('admins.admin_users', admin_id=admin_id) }}">Users</a></li>
            <li role="presentation"><a href="{{ url_for('admins.admin_posts', admin_id=admin_id) }}">Posts</a></li>
            <li role="presentation"><a href="{{ url_for('admins.admin_send_message', admin_id=admin_id) }}">Send message</a></li>
            <li role="presentation"><a href="{{ url_for('admins.admin_read_message', admin_id=admin_id) }}">Read message</a></li>
        </ul>
        <section>
            <br>
            <br>
            <br>
            {% if posts %}
                <h3><strong>Post info:</strong></h3>
                {% if posts|length == 1 %}
                    <div class="container">
                        <h3><strong>Post info:</strong></h3>
                        <p><strong>Author:</strong> {{ posts[0].user_email }}</p>
                        <p><strong>Title:</strong> {{ posts[0].subject }}</p>
                        <p><strong>Content:</strong> {{ posts[0].content }}</p>
                        <p><strong>Sent to:</strong> {{ posts[0].to }}</p>
                        <p><strong>Type publication:</strong> {{ posts[0].type_publication }}</p>
                        <p><strong>Published date:</strong> {{ posts[0].publish_date }}</p>
                        <p><strong>Post ID:</strong> {{ posts[0]._id }}</p>
                        <hr>
                    </div>
                {% elif posts|length > 1 %}
                    {% for post in posts %}
                        <div class="container">
                            <p><strong>Author:</strong> {{ post.user_email }}</p>
                            <p><strong>Title:</strong> {{ post.subject }}</p>
                            <p><strong>Content:</strong> {{ post.content }}</p>
                            <p><strong>Sent to:</strong> {{ post.to }}</p>
                            <p><strong>Type publication:</strong> {{ post.type_publication }}</p>
                            <p><strong>Published date:</strong> {{ post.publish_date }}</p>
                            <p><strong>Post ID:</strong> {{ post._id }}</p>
                            <hr>
                        </div>
                    {% endfor %}
                {% endif %}
            {% else %}
                <div class="container">
                    <p><strong>There is no sent post by admins.</strong></p>
                </div>
            {% endif %}
        </section>
    </article>
{% endblock %}

{% block aside %}
{% endblock %}
