{% extends "admin/home.html" %}

{% block title %}
{% endblock %}

{% block article %}
    <article>
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="{{ url_for('admins.admin_home') }}">Home</a></li>
            <li role="presentation" class="active"><a href="{{ url_for('admins.admin_users') }}">Users</a></li>
            <li role="presentation"><a href="{{ url_for('admins.admin_posts') }}">Posts</a></li>
            <li role="presentation"><a href="{{ url_for('admins.admin_send_message') }}">Send message</a></li>
            <li role="presentation"><a href="{{ url_for('admins.admin_read_message') }}">Read message</a></li>
        </ul>
        <br>
        <br>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class={{ activate }}><a href="{{ url_for('admins.admin_users') }}">Find one user</a></li>
            <li role="presentation" class={{ activate }}><a href="{{ url_for('admins.show_all_users') }}">Show all users</a></li>
        </ul>
        {% if search %}
            <form action="" method="post">
                <div class="container">
                    <h3><label class="label label-info" for="search">Search one user by email, name, family</label></h3>
                    <br>
                    <input type="text"  placeholder="Search one user" name="search" id="search" value="{{ request.form.search }}">
                    <button class="btn btn-primary" type="submit">Go</button>
                </div>
            </form>
            {% if nothing %}
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            {% endif %}
        {% endif %}
        {% if users %}
            {% if users|length > 1 %}
                    <br>
                    <br>
                    <br>
                    <h3><strong>Users info:</strong></h3>
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th><strong>Phone Number</strong></th>
                                <th><strong>Full Name</strong></th>
                                <th><strong>Company</strong></th>
                                <th><strong>Birthday</strong></th>
                                <th><strong>Email</strong></th>
                                <th><strong>Confirm</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td><a href="{{ url_for('users.view_profile', user_id=user._id) }}">{{ user.phone_number }}</a></td>
                                    <td>{{ user.name }} {{ user.family }}</td>
                                    <td>{{ user.company }}</td>
                                    <td>{{ user.birthday }}</td>
                                    <td>{{ user.email }}</td>
                                    <td class="warning">NO</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

            {% elif users|length == 1 %}
                <div class="container">
                    <h3><strong>User info:</strong></h3>
                    <p><strong>Name:</strong> {{ users[0].name }}</p>
                    <p><strong>Family:</strong> {{ users[0].family }}</p>
                    <p><strong>Phone number:</strong> {{ users[0].phone_number }}</p>
                    <p><strong>Upline phone number:</strong> {{ users[0].upline_phone_number }}</p>
                    <p><strong>Company:</strong> {{ users[0].company }}</p>
                    <p><strong>Email:</strong> {{ users[0].email }}</p>
                    <p><strong>Gender:</strong> {{ users[0].gender }}</p>
                    <p><strong>Register date:</strong> {{ users[0].register_date }}</p>
                    <p><strong>Birthday:</strong> {{ users[0].birthday }}</p>
                    <p><strong>User ID:</strong> {{ users[0]._id }}</p>
                    <hr>
                </div>
            {% endif %}
        {% endif %}
        {% if msg %}
            <div class="container has-error">
                <h4><label class="label label-warning" for="search">{{ msg }}</label></h4>
            </div>
        {% endif %}
    </article>
{% endblock %}

