{% extends "base.html" %}

{% block title %}
    Edit post
{% endblock %}

{% block article %}
    <article>
        <div class="container">
            <form action="" method="POST">
                {{ form.csrf_token }}
                <div>
                    {{ form.subject.label }}
                    {{ form.subject }}
                </div>
                <div>
                    {{ form.content.label }}
                    {{ form.content }}
                </div>
                {{ form.submit }}
            </form>
        </div>
    </article>
{% endblock %}