{% extends "base.html" %}

{% block title %}
    New Post
{% endblock %}

{% block article %}
    <script>
        function text_field_ed(value) {
    if (value == 'private') {
        return document.getElementById("user-address").disabled = true;
    } else {
        return document.getElementById("user-address").disabled = false;
    }
}
    </script>
    <article>
        <header>
            <h2>New post</h2>
        </header>
        <div class="container">
            <form method="POST" action="">
                {{ form.csrf_token }}
                <div>
                    <div>
                        <p>{{ form.type_publication.label }} {{ form.type_publication }}</p>
                    </div>
                    <div>
                        {{ form.subject.label }}
                    </div>
                    <div>
                        {{ form.subject }}
                    </div>
                    <div>
                        {{ form.content.label }}
                    </div>
                    <div>
                        {{ form.content }}
                    </div>
                    <br>
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </article>
{% endblock %}