{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block article %}
    <article>
        <div class="container">
            {% if posts and posts|length > 0 %}
                {% for post in posts %}
                    <div>
                        <p>Subject: {{ post.subject }}</p>
                    </div>
                    <div>
                        <p>Author: {% if user_email != post.user_email %}<a href="{{ url_for('users.find_user_by_email_and_redirect', user_email=post.user_email) }}"><button type="button" class="btn btn-info">{% endif %}{{ post.user_email }}</button></a></p>
                    </div>
                    <div>
                        <p>Published date: {{ post.publish_date }}</p>
                    </div>
                    <div>
                        <p>Content: {{ post.content }}</p>
                    </div>
                    <hr>
                {% endfor %}
            {% else %}
                <div>
                    <p>{{ msg }}</p>
                </div>
            {% endif %}
        </div>
    </article>
{% endblock %}