{% extends "base.html" %}

{% block title %}
    View Posts
{% endblock %}

{% block header %}
    <div class="header-container">
        <header class="wrapper clearfix">
            <h1 class="title">Network Marketing</h1>
            <nav>
                <ul>
                    {% if loged_in %}<li><a href="{{ url_for('auth.login') }}">Log in</a></li>{% endif %}
                    {% if loged_in %}<li><a href="{{ url_for('auth.register') }}">Register</a></li>{% endif %}
                    <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
                    <li><a href="{{ url_for('users.home', user_id=user_id) }}">Home</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="flash">
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}

{% block article %}
    <article>
        <div class="container">
            <a href="{{ url_for('posts.new_post', user_id=user_id) }}"><button class="btn btn-primary">New post</button></a>
        </div>
        {% if posts and posts|length > 0 %}
            {% if posts|length > 1 %}
            <div class="container">
                <h4>{{ posts_length }} posts you published.</h4>
            </div>
            {% else %}
                <h4>{{ posts_length }} post you published.</h4>
            {% endif %}
            {% for post in posts %}
                <div class="container">
                    <h3><strong>{{ post.subject }}</strong></h3>
                    <h4><p><strong>Type publication:</strong> {{ post.type_publication }}</p></h4>
                    <div>
                        <p><strong>Author:</strong> {{ post.user_email }}</p>
                    </div>
                    <div>
                        <p><strong>Published at:</strong> {{ post.publish_date }}</p>
                        <p><strong>Content:</strong> {{ post.content }}</p>
                    </div>
                    <div>
                        <a href="{{ url_for('posts.edit_post', post_id=post._id) }}"><button class="btn btn-warning">Edit</button></a>
                        <a href="{{ url_for('posts.delete_post', post_id=post._id) }}"><button class="btn btn-danger">Delete</button></a>
                    </div>
                </div>
                <hr>
            {% endfor %}
        {% else %}
            <div class="container">
                <h4>There is no post yet!</h4>
            </div>
        {% endif %}
    </article>
{% endblock %}