{% extends "base.html" %}

{% block title %}
    View Posts
{% endblock %}

{% block article %}
    <article>
        <div class="container">
            <a href="{{ url_for('posts.new_post', user_id=user_id) }}"><button class="btn btn-success">New post</button></a>
        </div>
        {% if posts and posts|length > 0 %}
            {% if posts|length > 1 %}
            <div class="container">
                <h4>{{ posts_length }} posts you published.</h4>
            </div>
            {% else %}
                <h4>{{ posts_length }} post you published.</h4>
            {% endif %}
            {% for post in posts %}
                <div class="container">
                    <h3>{{ post.subject }}</h3>
                    <div>
                        <p>Author: {{ post.user_email }}</p>
                    </div>
                    <div>
                        <p>Published at: {{ post.publish_date }}</p>
                        <p>Content: {{ post.content }}</p>
                    </div>
                    <div>
                        <a href="{{ url_for('posts.edit_post', post_id=post._id) }}"><button class="btn btn-success">Edit</button></a>
                        <a href="{{ url_for('posts.delete_post', post_id=post._id) }}"><button class="btn btn-danger">Delete</button></a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="container">
                <h4>There is no post yet!</h4>
            </div>
        {% endif %}
    </article>
{% endblock %}